@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud-download:before {
  content: "a";
}
.icon-git-branch:before {
  content: "b";
}
.icon-git-compare:before {
  content: "c";
}
.icon-lock:before {
  content: "e";
}
.icon-rss:before {
  content: "f";
}
.icon-octoface:before {
  content: "g";
}
.icon-mark-github:before {
  content: "h";
}
.icon-alert:before {
  content: "i";
}
.icon-trashcan:before {
  content: "j";
}
.icon-bulb:before {
  content: "k";
}
.icon-heart:before {
  content: "l";
}
.icon-circuit-board:before {
  content: "m";
}
.icon-terminal:before {
  content: "n";
}
.icon-file-binary:before {
  content: "o";
}
.icon-code:before {
  content: "q";
}
.icon-device-desktop:before {
  content: "d";
}
