body{
  background:#ffffff;
  margin-left:auto;
  margin-right:auto;
  padding: 45px;
}


.game-container{
  background:#000080;
  margin: 50px;
  height: 500px;
  border-radius: 20px;
  border-style:ridge;
  border-width:thick;
  border-color:#ffffff;
}



.title-background{
  background:#ccff00;
  height: 280px;
  margin-top:-60px;
  margin-left: 70px;
  margin-right: 60px;
  padding: 0 0 0 20px;
  border-radius:20px;
}

.menu-header{
  font-family: 'Orbitron', sans-serif;
  font-size:300%;
  text-align: center;
  margin-top:-20px;
  margin-left:auto;
  margin-right:auto;
  color:white;

}


.easy-game,
.icon-bulb,
.hard-game,
.lettertile{
  font-size: 100px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 125px;
  height:125px;
  background-color:#7cd200;
  padding:12px;
  color:#ccff00;
  border-radius:8px;
  margin:-50px 10px 10px 10px;
}


.easy-game,
.icon-bulb{
  background-color:#ffffff;
  font-family:sans-serif;
  color:#6500ff;
  border:10px ridge #6500ff;
  width: 150px;
  height: 150px;
}



.menu-container{
  height: 300px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
}


.slant{
  display:inline-block;
  transform:rotate(-30deg);
  height:160px;
  width:160px;
  padding-top:20px;
  font-size:200%;
  text-align:center;
  text-decoration: none;
}


.hard-game.slant{
  color:#ffffff;
  transform:rotate(25deg);
  font-family: 'Orbitron', sans-serif;
  padding-top: 40px;
  font-weight: bold;
  margin-left: 450px;
  margin-top: -100px;
}
